body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.greenGradient {
  background: linear-gradient(
    113.63deg,
    #cae326 8.37%,
    rgba(202, 227, 38, 0.6) 87.25%
  );
}
